#root{max-width:1360px;margin:0 auto;}

html, .bg-main { background-color: #404040; }
.bg-container-main { background-color: #555050;}
.bg-pink {background-color: #FF66AA;}
.bg-pink-dark {background-color: #A95279;}

.color-grey {background-color: #717171;}